.small-company-logo {
  height: 50px;
  width: 200px;
}
.flag {
  width: 35px;
  height: auto;
  margin-left: 5px;
}

.header-icons {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.category-buttons button {
  padding: 10px 20px;
}

.btn-outline-dark {
  border: 1px solid #000;
  color: #000;
}

.btn-outline-dark:hover {
  background-color: #f4f4f4;
}

/* Style the 'About' link */
.about-link {
  font-size: 1.5rem; /* Slightly larger text */
  font-weight: bold; /* Make the text bold */
  color: black; /* Bootstrap primary blue color */
  transition: color 0.3s, transform 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover effects */
.about-link:hover {
  color: black; /* Darker blue on hover */
  text-decoration: underline; /* Underline on hover */
  transform: scale(1.05); /* Slightly enlarge the link */
}

/* Focus effect for accessibility */
.about-link:focus {
  outline: none; /* Remove the default outline on focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a subtle blue shadow when focused */
}
