<ul id="menu" class="list-unstyled d-flex justify-content-center p-0">
    <li class="mx-3"><a href="/" class="text-decoration-none text-dark">Home</a></li>
    <li class="mx-3"><a href="/contact-us" class="text-decoration-none text-dark">Contact Us</a></li>
    <li class="mx-3"><a href="/about-us" class="text-decoration-none text-dark">About Us</a></li>
    <li class="mx-3"><a href="/admin/dashboard" class="text-decoration-none text-dark">Admin Panel</a></li>
</ul>
